
@{
    ViewBag.Title = "AdminIndex";
}

<h1>Vacay</h1>
<p class="lead">The website for all your vacationing needs.</p>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>Manage</h2>
            <p>
                Manage your account and the accounts of other users.
            </p>
            <p><a class="btn btn-primary" href="/Manage">Manage &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>My Travel Journal</h2>
            <p>Reminisce on your past Journal entries or add/edit and entry.</p>
            <p><a class="btn btn-primary" href="/Home/MyTravelJournal">My Journal &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Find Something To Do Near Me</h2>
            <p></p>
            <p><a class="btn btn-primary" href="/Home/ActivitiesNearMe">Find Activities &raquo;</a></p>
        </div>
    </div>
</div>

<div>
    <img src="~/Content/panoramicSunset.jpg" style="width: 100%; height: 160px"><img />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p></p>
    </div>
</div>